# === Reglas Generales ===
.DS_Store
Thumbs.db
[Dd]esktop.ini

# === Documentación derivada ===
presentacion_tfm_marp.html
Presentación.md
docs/presentation/
presentacion_tfm_marp.md
presentacion_tfm_marp.pdf
docs/blog/entrada_blog_tfm.md

# === Código ===
!code/
!setup_workstation.sh
code/terraform/.terraform/
code/terraform/*.tfstate*
code/terraform/*.tfvars
code/terraform/.terraform.lock.hcl

# === LaTeX (Fuentes y Memoria) ===
!main.tex
!references.bib
!*.bib
!*.tex
!images/
"Bibliografía TFM/"

# === LaTeX (Basura de compilación) ===
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.bbl
*.blg
*.txt
*.glo
*.gls
*.glg
*.ist
*.xml
*.bcf
*.synctex.gz
texput.log
